/*containers*/

.container-main {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background: url("../img/main-background.jpg");
}

/*container for the top section*/

.top-container {
    position: relative;
    height: 100vh;
    overflow: auto;
}

/*container for the bottom section*/

.bottom-container {
    background: white;
    display: none;
}

/*search box*/

.search-container {
    position: absolute;
    width: 100%;
    padding: 15px 0px 15px 0px;
    background: rgba(0, 0, 0, 0.5);
    margin-top: 180px;
    overflow: auto;
    z-index: 1;
}

/*search bar*/

.search {
    width: 70%;
    margin: 0 auto;
}

#module-text,
#datepicker,
#search-btn {
    float: left;
    border: none;
    border-radius: 0;
}

/* overrides some of the settigns from the skeleton framework */
input, textarea, select, fieldset, button, .button {
    margin-bottom: 0;
}

#module-text {
    width: 60%;
}

/*JQuery datepicker*/

#datepicker {
    width: 20%;
    padding: 0;
    background: #fff;
    font-weight: bold;
    font-size: 0.8em;
}

#search-btn {
    padding: 0;
    width: 20%;
}

#module-text {
    color: #656;
    border-right: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

#module-text:focus {
    border: 1px solid #873a71;
}

#search-btn {
    background: #873a71;
    color: #fff;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

#search-btn:hover {
    background: #88266c;
}

.footer {
    display: none;
}

/*nav */
/*logo*/

nav img {
    float: left;
    width: 50px;
    height: 50px;
    padding: 10px;
}

nav {
    width: 100%;
    background: black;
    position: fixed;
    z-index: 2;
}

.error {
    border: 2px solid #c0392b !important;
}


/*main header*/

#title {
    color: #fff;
    font-weight: bold;
    font-size: 4em;
    padding-top: 150px;
}

/*class boxes */

#heading-classes {
    padding-top: 40px;
}

/*information about the modules*/


.module-info {
    float: left;
    width: 190px;
    height: inherit;
    margin-top: 40px;
    padding: 10px;
    background: #fff;
    text-align: left;
    margin-bottom: 50px;
    opacity: 0;
    transform: translateX(-100px); /*animation*/
    transition: all 0.3s ease-in-out;
    border: 1px white;
    border-style: solid;
    pointer-events: none;
    visibility: visible;
}

#canvas {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-100px); /*animation*/
    transition: all 0.3s ease-in-out;
    z-index: 3;
    left:48%;
    margin-top: 6%;
    position:absolute;
    display: block;
    pointer-events:none;
}

#canvas.animate {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: translateX(0px);
}

.module-info:hover {
    border: 1px rebeccapurple;
    border-style: solid;
    border-radius: 0.5%;
}

.module-info > h3 {
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    pointer-events: none;
}

.module-info > h5 {
    font-size: 1em;
    pointer-events: none;
}

.module-info > p {
    font-weight: bold;
    pointer-events: none;
}

.module-info > img {
    width: 100%;
    pointer-events: none;
}

.module-info.animate {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    transform: translateX(0px);
    pointer-events: all;
}

#temp-0 {
    position: relative;
    left: 8%;
    z-index: 2;
}

#temp-1 {
    left: 38%;
    position: relative;
    z-index: 1;
}

#temp-2 {
    position: relative;
    left: 68%;
    z-index: 1;
}

.floormap {
    z-index: 0;
    left: 55%;
    display: block;
    visibility: visible;
    position: relative;
}

/*RESPONSIVE SECTION*/

@media screen and (max-width: 650px) and (orientation: portrait) {
    .search {
        width: 95%;
    }

    #title {
        font-size: 2.5em;
    }

    #temp-0, #temp-1,
    #temp-2{
        float:left;
        position: relative;
        left: 15%;
    }

    .module-info {
        float: left;
        width: 190px;
        height: inherit;
        margin-top: 40px;
        padding: 10px;
        background: #fff;
        text-align: left;
        margin-bottom: 50px;
        opacity: 0;
        transform: translateX(-100px); /*animation*/
        transition: all 0.3s ease-in-out;
        border: 1px white;
        border-style: solid;
        pointer-events: none;
        visibility: visible;
    }


    .module-info > img {
        visibility: hidden;
        display: none;
        width: 0%;
        height: 0%;
    }

    #canvas {
        float: left;
        visibility: hidden;
        opacity: 0;
        transform: translateY(-100px); /*animation*/
        transition: all 0.3s ease-in-out;
        z-index: 3;
        left:0%;
        margin-top: 65%;
        position: absolute;
        display: block;
        pointer-events:none;
    }

    #canvas.animate {
        z-index: 5;
        float: left;
        visibility: visible;
        opacity: 1;
        transition: all 0.3s ease-in-out;
        transform: translateY(-0px);
    }


    .search-container {
        position: absolute;
        width: 100%;
        padding: 15px 0px 15px 0px;
        background: rgba(0, 0, 0, 0.5);
        margin-top: 80px;
        overflow: auto;
        z-index: 1;
    }


}
